@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #000;
  margin: 0;
  --bg-color: rgba(68, 83, 94, 0.7);
  --elem--color: #798f8c;
  --item-color: #d9ebe9;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background: url('https://s.yimg.com/hd/cp-video-transcode/prod/2020-05/26/5ecd0c03b43fec2063f1f909/5ecd0c03b43fec2063f1f90a_o_U_v2.jpg')
    black;
  background-repeat: no-repeat;
  background-size: 110%;
  margin: 80px auto;
  width: 650px;
  text-align: center;
}

main {
  background: var(--bg-color);
  border-radius: 20px;
  padding: 20px;
  max-height: 800px;
}

h1 {
  margin-bottom: 20px;
}

.title {
  background: none;
  font-size: 20px;
  margin: 0;
}

.description {
  background: none;
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0 0;
}

.head {
  height: 200px;
  padding: 0 60px;
}

.head__inner {
  display: flex;
  background: var(--elem--color);
  border-radius: 20px;
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.userInput {
  width: 300px;
  height: 35px;
}

#addBtn {
  cursor: pointer;
  background: var(--item-color);
}

.delete {
  cursor: pointer;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

.edit {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.tasks {
  text-align: left;
  width: 100%;
  overflow-y: auto;
  max-height: 450px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: var(--elem--color);
  padding: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.item {
  width: 150px;
  height: 66px;
  border-radius: 20px;
  padding: 0.8rem 1rem;
  background: var(--item-color);
  color: #000;
  cursor: grab;
  font-size: 18px;
  text-align: center;
  transform: translate(0, 0);
}

.item:active {
  cursor: grabbing;
}
.placeholder__container {
  display: flex;
  justify-content: center;
  width: 165px;
  height: 72.6px;
  align-items: center;
  margin-right: 50px;
}

.placeholder {
  width: 150px;
  height: 66px;
  border-radius: 20px;
  background: var(--bg-color);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.placeholder--hovered {
  width: 150px;
  height: 88px;
}

.modify {
  padding: 0 20px;
}

.task-control {
  display: flex;
}
.start {
  /* background: #84D484; */
}

.active_input {
  background: var(--item-color);
}
.hovered {
  width: 165px;
  height: 72.6px;
}
