@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #000;
  margin: 0;
  --bg-color: rgba(68, 83, 94, 0.7);
  --elem--color: #798f8c;
  --item-color: #d9ebe9;
}

body {
  background: url('https://s.yimg.com/hd/cp-video-transcode/prod/2020-05/26/5ecd0c03b43fec2063f1f909/5ecd0c03b43fec2063f1f90a_o_U_v2.jpg')
    black;
  background-repeat: no-repeat;
  background-size: 110%;
  margin: 80px auto;
  width: 650px;
  text-align: center;
}

main {
  background: var(--bg-color);
  border-radius: 20px;
  padding: 20px;
  max-height: 800px;
}

h1 {
  margin-bottom: 20px;
}

.title {
  background: none;
  font-size: 20px;
  margin: 0;
}

.description {
  background: none;
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0 0;
}

.head {
  height: 200px;
  padding: 0 60px;
}

.head__inner {
  display: flex;
  background: var(--elem--color);
  border-radius: 20px;
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.userInput {
  width: 300px;
  height: 35px;
}

#addBtn {
  background: var(--item-color);
}

.delete {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 426.667 426.667' style='enable-background:new 0 0 426.667 426.667' xml:space='preserve'%3e%3cpath d='M213.333 0C95.467 0 0 95.467 0 213.333s95.467 213.333 213.333 213.333S426.667 331.2 426.667 213.333 331.2 0 213.333 0zM320 289.813 289.813 320l-76.48-76.48-76.48 76.48-30.187-30.187 76.48-76.48-76.48-76.48 30.187-30.187 76.48 76.48 76.48-76.48L320 136.853l-76.48 76.48 76.48 76.48z'/%3e%3c/svg%3e");
}

.edit {
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 448 448' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m270.223 177.777-16.965-16.968-101.824 101.816 16.964 16.977 16.97 16.964L287.19 194.742zm0 0'/%3e%3cpath d='M224 0C100.29 0 0 100.29 0 224s100.29 224 224 224 224-100.29 224-224C447.86 100.348 347.652.14 224 0zm96 328H128a8.007 8.007 0 0 1-5.672-2.398 7.982 7.982 0 0 1-1.504-2.243 8.008 8.008 0 0 1-.824-3.238V320c0-.105.055-.184.055-.29 0-.456.035-.913.113-1.366l12.121-57.375c.09-.313.2-.621.328-.922.078-.223.145-.438.238-.664a8.16 8.16 0 0 1 1.536-2.32l.074-.094 113.137-113.137 11.308-11.312c15.64-15.504 40.875-15.45 56.445.125 15.575 15.57 15.63 40.804.125 56.445l-11.312 11.308L192.566 312H320a8 8 0 0 1 0 16zm0 0'/%3e%3cpath d='M304.168 177.777c9.375-9.375 9.375-24.574 0-33.945-9.504-9.055-24.441-9.055-33.945 0l-5.657 5.664 33.938 33.938zM144.895 278.719l-6.528 30.914 30.914-6.528-12.191-12.195zm0 0'/%3e%3c/svg%3e");
}

.tasks {
  text-align: left;
  width: 100%;
  overflow-y: auto;
  max-height: 450px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: var(--elem--color);
  padding: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.item {
  width: 150px;
  height: 66px;
  border-radius: 20px;
  padding: 0.8rem 1rem;
  background: var(--item-color);
  color: #000;
  cursor: grab;
  font-size: 18px;
  text-align: center;
  transform: translate(0, 0);
}

.item:active {
  cursor: grabbing;
}
.placeholder__container {
  display: flex;
  justify-content: center;
  width: 165px;
  height: 72.6px;
  align-items: center;
  margin-right: 50px;
}

.placeholder {
  width: 150px;
  height: 66px;
  border-radius: 20px;
  background: var(--bg-color);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.placeholder--hovered {
  width: 150px;
  height: 88px;
}

.modify {
  padding: 0 20px;
}

.task-control {
  display: flex;
}
.start {
  /* background: #84D484; */
}

.active_input {
  background: var(--item-color);
}
.hovered {
  width: 165px;
  height: 72.6px;
}
